header{
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 200;
    box-shadow: 0 0 50px 0 rgba($color: #000000, $alpha: .3);
   
    @media (max-width: 900px){
        height: 60px;
    }


    .header-logo{
        height: 25px;

        img{
            height: 100%;
        }
    }

    

    input{
        position: absolute;
        top: -1000px;

        & + div{
            display: none;
            font-family: $secondary-font;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(19, 39, 57, .8);

            .mobile-nav{
                margin-top: 0;
                background-color: rgba(19, 39, 57, .8);
                height: 100vh;
                width: 40vh;

                li:nth-child(6) label{

                    color: #ffffff;

                    &:hover {
                        color: $light-blue-color;
                        cursor: pointer;
                    }

                    .first-dropdown{
                        padding-left: 165px;
                    }

                    .second-dropdown{
                        padding-left: 125px;
                    }
                }


                #dropdown:checked + .mobile-sub-nav{
                    display: block;    
                    animation: headerNav .6s;

                }

                #dropdown2:checked + .mobile-sub-sub-nav{
                    display: block;
                    animation: headerNav .6s;
                }

                .mobile-sub-nav,
                .mobile-sub-sub-nav{
                    display: none;
                }
                
            }

            ul{
                list-style: none;

                li{
                    padding: 10px 0;
                }

                a{
                    text-decoration: none;
                    color: #ffffff;
                }
            }

            .mobile-sub-nav{
                padding: 10px 0 0 30px;

                .mobile-sub-sub-nav{
                    padding: 10px 0 0 30px;


                }
            }


            
        }

        
        &:checked + div{
            display: block;
        }

        
    }

    #toggle:checked ~ label i:first-child{
        z-index: -200;
    }



    label{
        
        .mobile-nav-icon{
            cursor: pointer;
            color: $header-font-color;
            font-size: 28px;
            position: absolute;
            top: 15px;
            right: 50px;
            width: 36px;
            height: 36px;
            text-align: center;
            background-color: #ffffff;
            display: none;
            z-index: 200;

            @media (max-width: 900px){
                display: block;
            }

        }

        .close-nav-icon{
            color: #ffffff;
            font-size: 36px;
            position: absolute;
            top: 15px;
            right: 50px;
            width: 36px;
            text-align: center;
            display: none;
            background-color: rgb(19, 39, 57);

            @media (max-width: 900px){
                display: block;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
   
}


.header-container{
    max-width: $main-max-width;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1160px){
        max-width: 850px;
    }

    @media (max-width: 900px){
        width: 80%;
        height: 60px;

    }
}

.header-nav{
        

    ul{
        list-style: none;
        display: flex;
        padding-left: 0;

        li{
            padding: 0 15px;
        }
    }

    @media (max-width: 900px){
        display: none;
    }
}

.nav-item{

    position: relative;

    a{
        text-decoration: none;
        color: $header-font-color;
        font-family: $main-font;
        font-size: 14px;
        font-weight: 500;
    }

    &:nth-child(6){
        i{
            padding-left: 10px;
        }

        &:hover .sub-nav{
            opacity: 1;
            top: 30px;
            visibility: visible;
        }
    }

}

.sub-nav{
    @include dropDown (50px);
    visibility: hidden;
    
    
    .sub-nav-item{
        padding: 15px 20px;

        &:nth-child(2){
            i{
                padding-left: 50px;
            }

            &:hover .sub-sub-nav{
                opacity: 1;
                left: 200px;
            }
        }
    }

    
}

.sub-sub-nav{
    @include dropDown (50px, 170px);
    

    .sub-sub-nav-item{
        padding: 15px 20px;
    }
}

a:hover{
    color: $light-blue-color;
}