.team-container{
    @include mainContainer (column);

    @media (max-width: 1160px){
        max-width: 700px;
    }

    @media (max-width: 780px){
        width: 65%;
    }
}

#team{

    padding-bottom: 40px;

    .section-title-subtitle{

        h2{
            @include sectionTitle (#283d50);
        }

        p{
            @include sectionSubtitle (#556877);
        }
    }
}

.member-photo-container{
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 1160px){
        flex-wrap: wrap;
    }
}