#services{
    .card{
        max-width: 400px;
        background-color: #ffffff;
        margin: 30px;
        border-radius: 10px;
        box-shadow: 0 0 40px 0 rgba($color: #000000, $alpha: .1);
        display: flex;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
        transition: .3s;

        .card-text{
            padding: 20px;
        }

        h4{
            margin: 0 0 12px 0;
            font-size: 17px;
            color: #000000; 
            transition: .3s; 
        }

        p{
            margin: 5px 0 0 0;
            font-size: 14px;
            line-height: 23px;
        }

        &:hover{
            transform: translateY(-3px);

            & h4{
                color: $light-blue-color;
            }
        }

        @media (max-width: 1160px){
            max-width: 330px;
        }

        @media (max-width: 850px){
            max-width: 100%;
            margin: 15px;
        }
    }
}

#choose-us{
    .small-card{
        max-width: 320px;
        height: 340px;
        background-color: #00458f;
        color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s;

        &:hover{
            background-color: #013f81;

      
        }

        h3{
            font-size: 22px;
        }

        p{
           margin: 5px 20px 40px 20px;
            font-size: 15px;
            text-align: center;

            @media (max-width: 1160px){
                max-width: 80%;
            }
        }

        a{
            text-decoration: none;
            font-family: $secondary-font;
            color: #ffffff;
            font-weight: 700;
            padding-bottom: 5px;
            border-bottom: 2px solid #00458f;
            transition: .4s;

            &:hover{
                border-bottom: 2px solid #fff;
            }
        }

        @media (max-width: 1160px){
            max-width: 100%;
            margin-bottom: 25px;
            align-items: center;
        }
    }
}