@keyframes headerNav{
    0%{
        visibility: hidden;
        opacity: 0;
        transform: translateX(-50px);
    }

    100%{
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }
}