$header-font-color: #004289;
$light-blue-color: #007bff;
$extra-light-blue-color: #ecf5ff;
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans';
$blue-background: #1445b3;
$darker-blue-background: #004a99;
$main-max-width: 1100px;